p {
    color: darkred;
}

.Text-black{
    color: darkred;
    background-color: black;

}

#text-maior {
    font-size: 32px;
    font-family: "Comic Sans MS";
    display: inline;
}

#text-maior:hover {
    color: blue;
    font-size: 32px;
    background-color: aquamarine;
}