.vermelho {
    background-color: red;
    height: 50px;
    width: 100%;
    display: inline-block;
    margin: 20px;
    padding: 20px;
}

.azul {
    background-color: lightblue;
    height: 250px;
    width: 100%;
    display: inline-block;
    margin: 20px;
    padding: 20px;

}

.tres-azul {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
}

.tres-azul div {
    border: 1px solid white;
    margin: 20px;
    padding: 20px;
    height: 200px;
    width: 24%;
    background-color: lightsteelblue;
    flex: auto;
}

